<mat-sidenav-container>

  <mat-sidenav #sidenav [mode]="'push'" fixedInViewport="true">
    <img src="./../assets/img/spi.jpg" style="height: 200px; width: 200px;">

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" routerLinkActive="active"> Home </a>
      <a mat-list-item [routerLink]="['/character']" routerLinkActive="active"> Character </a>
      <a mat-list-item [routerLink]="['/movie']" routerLinkActive="active"> Movie </a>
      <a mat-list-item [routerLink]="['/about']" routerLinkActive="active"> About </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div style="height: 1000px;">
      <mat-toolbar color="primary">

        <button mat-icon-button class="botones-color" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <img src="./../assets/img/Logo-Netflix.png" [width]="100" alt="...">
        <span class="example-spacer"></span>

        <button mat-icon-button class="botones-color" aria-label="Example icon-button with heart icon">
          <mat-icon>search</mat-icon>
        </button>

        <button mat-icon-button class="botones-color" aria-label="Example icon-button with share icon">
          <mat-icon>more_horiz</mat-icon>
        </button>

      </mat-toolbar>

      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>